<hr>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-success">Bravo</button>
<button class="btn">Default</button>
<button class="btn btn-info">Contact</button>
<button class="btn btn-warning btn-round">Warning</button>
<hr>
<img src="https://placeimg.com/100/100/any" class="rounded-circle">
<hr>
<div class="row">
	<div class="card card-profile" data-background-color="black">
		<div class="card-avatar">
			<a href="#">
				<img class="rounded-circle img-raised" src="https://ca.slack-edge.com/T3W8B88JW-UD17YUH6F-50387418b154-1024"
				
			</a>
		</div>

		<div class="card-body">
			<h6 class="card-category">CEO / Co-Founder</h6>

			<h4 class="card-title">James Thompson</h4>

			<p class="card-description">
				Don't be scared of the truth because we need to restart the human foundation in truth.
			</p>
			
			<a href="https://thehackingproject.slack.com/messages/DDABE3G0H/team/UD17YUH6F/" class="btn btn-primary btn-round">Profil Slack/a>
		</div>
	</div>
	<div class="card card-profile" data-background-color="black">
		<div class="card-avatar">
			<a href="#">
				<img class="rounded-circle img-raised" src="https://demos.creative-tim.com/now-ui-kit-pro/assets/img/james.jpg">
			</a>
		</div>

		<div class="card-body">
			<h6 class="card-category">CEO / Co-Founder</h6>

			<h4 class="card-title">James Thompson</h4>

			<p class="card-description">
				Don't be scared of the truth because we need to restart the human foundation in truth.
			</p>
			<a href="#" class="btn btn-primary btn-round">Follow</a>
		</div>
	</div>
	<div class="card card-profile" data-background-color="black">
		<div class="card-avatar">
			<a href="#">
				<img class="rounded-circle img-raised" src="https://demos.creative-tim.com/now-ui-kit-pro/assets/img/james.jpg">
			</a>
		</div>

		<div class="card-body">
			<h6 class="card-category">CEO / Co-Founder</h6>

			<h4 class="card-title">James Thompson</h4>

			<p class="card-description">
				Don't be scared of the truth because we need to restart the human foundation in truth.
			</p>
			<a href="#" class="btn btn-primary btn-round">Follow</a>
		</div>
	</div>
</div>
<hr>
<div class="tab-frame">
	<input type="radio" checked name="tab" id="tab1">
	<label for="tab1">Test 1</label>

	<input type="radio" name="tab" id="tab2">
	<label for="tab2">Test 2</label>

	<input type="radio" name="tab" id="tab3">
	<label for="tab3">Test 3</label>
		<div class="tab">
			<p>Hello</p>
		</div>
		<div class="tab">
			<p>World</p>
		</div>
		<div class="tab">
			<p>!!!</p>
		</div>
</div>
<hr>