.container
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card
{
  width: 350px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #007EA7;
  box-shadow: 1px 1px 12px #007EA7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card-avatar
{
  border-radius: 50%;
  height: 150px;
  width: auto;
  text-align: center;
}

.card-title
{
  text-align: center;
  color: #007EA7;
}

.card-body
{
  text-align: justify;
}

.card-button
{
  display: flex;
  justify-content: center;
  margin: auto;
}